@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* font import */

html,
body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

nav a {
  cursor: pointer;
}

#tabs {
  position: relative;
  width: 14vw;
  top: 8px;
  left: 8px;
}

#tabs .title {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 18px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: rgba(229, 229, 229, 0.2);
}

#tabs .title h1 {
  display: inline-block;
  vertical-align: middle;
  width: 69px;
  height: 24px;
  margin: 0;
}

#tabs .title h1 img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#container h2 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 12px;
  font: 400 12px/14px "Open Sans", sans-serif;
  color: #4d4d4d;
  text-align: justify;
}

#tabs .title h2 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 2px 0 0 0;
  font: 400 18px/13px "Open Sans", sans-serif;
  color: #fff;
}

#tabs .map-overlay-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 14vw;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 12px;
  /* background-color: rgba(229, 229, 229, 0.75); */
  background-color: rgba(229, 229, 229, 0.75);
}

#tabs .map-overlay-top fieldset > label {
  display: block;
  padding: 0;
  font: 800 16px/12px "Open Sans", sans-serif;
  color: #e6003c;
  text-align: center;
}

#tabs .map-overlay-top fieldset:last-child > label {
  display: none;
}

#loc_menu {
  position: absolute;
  z-index: 2;
  top: 260px;
  right: 8px;
  width: 50px;
  font-family: "Open Sans", sans-serif;
}

#loc_menu a {
  font-size: 50px;
  color: black;
  display: block;
  /* border: 2px solid #bbbbbb; */
  margin: 0;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.7);
  font-size: 15px;
  font-weight: bold;
}

#menu {
  /* background: #fff; */
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  width: 50px;
  font-family: "Open Sans", sans-serif;
}

#menu a {
  color: white;
  display: block;
  margin: 0;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

#menu a:last-child {
  border: none;
}

#menu a:hover,
#loc_menu a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}

#menu a.active {
  background-color: rgba(225, 225, 225, 0.7);
}

#menu a.active:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-effect {
  background-color: white !important;
  /* transition: background-color 0.3s ease; */
}

#container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: rgba(36, 36, 36, 1);
  padding: 12px;
  border-radius: 8px;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 15%;
}

#chart-container {
  display: none;
  flex-direction: column;
  width: 100%;
  /* max-height: 45vh; */
  margin-bottom: 16px;
  margin-top: 20px;
  overflow-y: auto;
}
.chartCard {
  /* width: 100vw; */
  background: rgba(255, 26, 104, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBoxBar {
  width: 100%;
  /* padding-top: 2px; */
  /* border: solid 3px rgba(255, 26, 104, 1); */
  /* background: rgba(255, 255, 255, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartBoxNut {
  width: 100%;
  /* padding-top: 2px; */
  /* border: solid 3px rgba(255, 26, 104, 1); */
  /* background: rgba(255, 255, 255, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
}
#negChart {
  position: relative;
  /* max-width: 14vw; */
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-width: 2px;
  border-color: #6c6c6c;
  font-family: "Open Sans", sans-serif;
  color: #e6003c;
  overflow: auto;
}

#negPredChart {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 80% !important;
  height: 10% !important;
  /* max-width: 14vw; */
  /* min-height: 130px; */
  border-width: 2px;
  border-color: #6c6c6c;
  font-family: "Open Sans", sans-serif;
  color: #e6003c;
}

#row {
  display: none;
}

.grid-container {
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-right: 18px;
  margin-top: 17px;
  justify-content: center;
}

.grid-container i {
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.info_box .value,
.info_box .heading {
  font-family: "Open Sans", sans-serif;
  text-align: right;
  color: #ffffff;
}

.info_box .heading {
  font-size: 0.75em;
  font-weight: 300;
}

.info_box .value {
  font-size: 1.2em;
  font-weight: 600;
}

@media (max-width: 950px) {
  #container {
    display: none;
  }
}

@media (max-width: 1456px) {
  #negChart,
  #negPredChart {
    display: none !important;
  }
}

.paps_exp {
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.paps_exp > p {
  /* text-align: center; */
}

#zoom_display,
#lng,
#lat,
#wth,
#lth {
  color: white;
  margin: 15px 0;
  /* display: flex;
  justify-content: center; */
}
